* {
    font-family: "futura-pt", sans-serif;
    margin: 0;    
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    height: 75px;
    background-color: #EF6024;
}

.odin-logo-temp {
    margin-left: 50px;
}

/* Home --> Log in buttons */
.main-header h3 {
    color: white;
    padding: 25px;
    display: inline-block;
}

.home {
    margin-left: 625px;
}

/* To add: change background color of header,
change background color of recipe section to
either slightly lighter or darker*/
.featured-recipe-header {
    text-align: center;
    padding: 25px;
    font-size: 48px;
}

.featured-recipes {
    width: 500px;
    height: 650px;
    margin: 25px;
}

.recipe-list li {
    font-size: 24px;
}